
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters{
  margin-right: 30px;
  font-size: 12px;
  text-align: center;
  strong{
    display: block;
    font-size: 2em;
  }
  .vote, .answer{
    width: 60px;
    height:60px;
  }
  .status{
    &.unanswered{
      border: none;
    }
    &.answered{
      border: 1px solid $color-green;
      color: $color-green;
    }
    &.answered-accepted{
      background: $color-green;
      color: $color-white;
    }
  }
  .view {
    margin-top: 10px;
  }
}
.error{
  color: red !important;
}
form .form-delete{
  display: inline;
}
.vote-controls{
  min-width: 60px;
  margin-right: 30px;
  text-align: center;
  color: $gray-700;

  span, a {
    display: block;
  }
  span {
    &.votes-count{
      font-size: 25px;
    }
    &.favorites-count{
      font-size: 12px;
    }
  }
  a {
    cursor: pointer;
    color: $gray-600;

    &.off, &.off:hover {
      color: $gray-500;
    }

    &.favorite{
      &.favorited, &.favorites:hover{
        color: $warning;
      }
    }

    &.vote-accepted {
      color: $green;
    }
  }
}